[Unit]
Description=GitHub Downloader Web
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/Github-Downloader-Web
Environment=ASPNETCORE_URLS=http://0.0.0.0:2008
Environment="DISPLAY=:0"
ExecStart=/opt/Github-Downloader-Web/Github-Downloader-Web
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
