[Desktop Entry]
Name=Github Downloader
Comment=Download Gihub-releases
Comment[de]=Lade Github-releases herunter
Exec=/opt/Github-Downloader/Github-Downloader
Icon=/opt/Github-Downloader/resources/icon.png
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
Name[de_AT]=Github Downloader
